if SHIELD_OMEGASCRIBE_L

config ZMK_KEYBOARD_NAME
    default "OmegaScribe"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_OMEGASCRIBE_LEFT || SHIELD_OMEGASCRIBE_RIGHT

config ZMK_SPLIT
    default y

endif
